<%= form_for(@user_test) do |f| %>
  <% if @user_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_test.errors.count, "error") %> prohibited this user_test from being saved:</h2>

      <ul>
      <% @user_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
