<h1>Listing user_tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tests.each do |user_test| %>
      <tr>
        <td><%= user_test.name %></td>
        <td><%= user_test.email %></td>
        <td><%= link_to 'Show', user_test %></td>
        <td><%= link_to 'Edit', edit_user_test_path(user_test) %></td>
        <td><%= link_to 'Destroy', user_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User test', new_user_test_path %>
